@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*Colors*/
  --color-gray-light: #fafafa;
  --color-gray-light-02: #f0f0f0;
  --color-gray-light-03: #e7e6e6;
  --color-red: #ff6363dd;
  --color-text: rgb(94, 94, 94);
  --border-gray: #d2d2d2;

  /*border radius*/
  --border-radius-min: 6px;
}

html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

body {
}
